//====================================================================================================
.header-top {}

.header {

  // .header__content
  &__container {
    display: flex;
    align-items: center;
    min-height: 85px;

    @media (max-width:576px) {
      min-height: 65px;
      justify-content: center;
    }
  }

  // .header__logo
  &__logo {
    @media (max-width: 576px) {
      display: none;
    }
  }

  // .header__menu
  &__menu {
    margin: 0px 0px 0px 100px;

    padding: 20px;

    @media (max-width: 576px) {
      margin: 0px 0px 0px 0px;
    }
  }
}

.menu {

  // .menu__list
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -12px;
  }

  // .menu__item
  &__item {
    position: relative;

    &:not(:last-child) {
      @include adaptiv-value("margin-right", 42, 20, 1);

      @media (max-width: 576px) {
        padding-bottom: 12px;

        &::before {
          content: '|';
          position: absolute;
          right: -16px;
          top: 3px;
        }
      }
    }
  }

  // .menu__link
  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: $c_4;

    transition: color 0.3s ease 0s;

    @media (min-width:$md3+px) {
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }

    @media (max-width: 576px) {
      font-size: 26px;
    }
  }
}