//====================================================================================================
.header {

  // .header__content
  &__container {
    padding-top: 65px;
    padding-right: 38px;

    @media (min-width:$md4+px) {
      display: flex;
    }

    @media (max-width:$md2-1+px) {
      padding-top: 45px;
    }
  }

  // .header__logo
  &__logo {
    margin-right: 100px;

    @media (max-width:$md3+px) {
      margin-right: 50px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  // .header__menu
  &__menu {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }
}

.menu {

  // .menu__body
  &__body {
    flex: 1 1 auto;

    @media (max-width:$md4+px) {
      position: fixed;
      padding-top: 60px;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      transform: translate(0, -100%);
      opacity: 0;
      background-color: rgba(134, 67, 220, 1);
      transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
      z-index: 199;

      color: $c_1;

      &._active {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }

  // .menu__list
  &__list {

    @media (min-width:$md4+px) {
      display: flex;
    }
  }

  // .menu__item
  &__item {

    &:not(:last-child) {
      @include adaptiv-value("margin-right", 42, 20, 1);
    }

    @media (max-width:$md4+px) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .menu__link
  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    color: inherit;

    transition: color 0.3s ease 0s;

    @media (min-width:$md3+px) {
      &:hover {
        color: $c_4;
        text-decoration: underline;
      }
    }


    @media (max-width:$md4+px) {
      display: block;

      font-size: 40px;
      text-align: center;
    }
  }
}

//====================================================================================================

//Burger
.icon-menu {

  position: relative;
  width: 25px;
  height: 18px;
  cursor: pointer;
  z-index: 200;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    top: 50%;
    left: 12px;

    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
  }

  span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;

    &:first-child {
      top: 0px;
    }

    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }

  &._active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }

  @media (max-width:$md4+px) {
    position: fixed;
    right: 30px;
  }
}