.clients {
  padding: 100px 0px;

  @media (max-width:$md3+px){
     padding: 60px 0px; 
  }

  // .clients__container
  &__container {}

  // .clients__subtitle
  &__subtitle {}

  // .clients__title
  &__title {
    margin: 0px 0px 44px 0px;
  }

  // .clients__items
  &__items {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }
  }
}

.client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  flex: 0 1 20%;
  
  max-width: 170px;
  height: 170px;
  background: #F4FFED;
  border: 1px solid #DBFFC4;
  border-radius: 10px;

  &:last-child{
    margin-bottom: 0;
  }
  
  @media (max-width: 1023px){
    margin: 0px 10px 20px;
  }

  @media (max-width:$md2+px){
    flex: 0 1 33.333%;
  }

  @media (max-width:$md4+px){
     flex: 0 1 100%; 
  }
  // @media (max-width: 1023px) {
  //   flex: 0 1 33.333%;
  // }

  // .client__image
  &__image {
    margin: 0px 0px 30px 0px;
  }

  // .client__name
  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24 / 18 * 100%;
    color: $c_2;
  }
}