.contact-me {
  padding: 50px 0px 0px 0px;

  // .contact-me__container
  &__container {}

  // .contact-me__subtitle
  &__subtitle {
    width: 100px;
    margin: 0px 0px 20px 0px;
  }

  // .contact-me__top
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: 0px 0px 36px 0px;
  }

  // .contact-me__text
  &__text {
    flex: 0 0 512px;

    font-size: 36px;
    font-weight: 500;
    line-height: 52 / 36 * 100%;
    color: #21232D;
  }

  // .contact-me__email
  &__email {

    font-size: 24px;
    text-decoration: underline;
    color: $c_3;
  }

  // .contact-me__form
  &__form {}
}